set_io sw[0] 18
set_io sw[1] 11
set_io sw[2] 9
set_io sw[3] 6
set_io sw[4] 44
set_io sw[5] 4
set_io sw[6] 3
set_io sw[7] 48

set_io btn[0] 21
set_io btn[1] 12
set_io btn[2] 13
set_io btn[3] 19

set_io dac[0] 45
set_io dac[1] 47
set_io dac[2] 46
set_io dac[3] 2
set_io dac[4] 28

set_io compare 38

set_io strobe 42
set_io data 36
set_io shift_clk 43

set_io clk 34